<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Timery</a>
  
  <button class="navbar-toggler" type="button"
          (click)="isCollapsed = !isCollapsed"
          data-toggle="collapse"
          aria-controls="collapsedMenu"
          aria-label="Toggle navigation"
          aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="collapsedMenu" class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Settings</a>
      </li>
    </ul>
  </div>
</nav>
